[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-postgres-extra = "==1.21a12"
"psycopg2-binary" = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
